set nobackup
set nowritebackup
set noswapfile

" Disable linewrapping
set nowrap

" Natural Splitting
set splitbelow
set splitright

" Softtabs, 2 spaces
set tabstop=2
set shiftwidth=2
set shiftround
set expandtab

" Only do this part when compiled with support for autocommands
if has("autocmd")
  " Enable file type detection
  filetype on

  " Syntax of these languages is fussy over tabs Vs spaces
  autocmd FileType make setlocal ts=8 sts=8 sw=8 noexpandtab
  autocmd FileType yaml setlocal ts=2 sts=2 sw=2 expandtab

  " Remove Trailing spaces on save
  autocmd BufWritePre *.rb :%s/\s\+$//e
endif

" Use The Silver Searcher https://github.com/ggreer/the_silver_searcher
if executable('ag')
  " Use Ag over Grep
  set grepprg=ag\ --nogroup\ --nocolor
endif

" Matchit
runtime macros/matchit.vim

" Search Highlighting
set hlsearch

" Seach highlighting while typing
set incsearch

" Numbers
set number
set numberwidth=5

" Listchars
set listchars=tab:▸\ ,trail:·,eol:¬

let g:CommandTMaxHeight=10

set showcmd
