" Matchit
runtime macros/matchit.vim

set nocompatible
if has("autocmd")
  filetype indent plugin on
endif

" Airline theme
let g:airline_theme='sol'

" Softtabs, 2 spaces
set tabstop=2
set shiftwidth=2
set expandtab

" Search Highlighting
set hlsearch

" Numbers
set number
set numberwidth=5

" List
set list
set list listchars=tab:»·,trail:·,extends:>

set showcmd

let mapleader = "\<Space>"

