set nobackup
set nowritebackup
set noswapfile

" Powerline config
set guifont=Inconsolata\ for\ Powerline:h11
" Always show statusline
let g:airline_theme='sol'
let g:airline_powerline_fonts = 1
set laststatus=2

" Disable linewrapping
set nowrap

" Ctags
set tag=.tags

" Natural Splitting
set splitbelow
set splitright

" Softtabs, 2 spaces
set tabstop=2
set shiftwidth=2
set shiftround
set expandtab

" Use The Silver Searcher https://github.com/ggreer/the_silver_searcher
if executable('ag')
  " Use Ag over Grep
  set grepprg=ag\ --nogroup\ --nocolor
endif

" Matchit
runtime macros/matchit.vim

" Search Highlighting
set hlsearch

" Numbers
set number
set numberwidth=5

" List
set list
set list listchars=tab:»·,trail:·,extends:>

let g:CommandTMaxHeight=10

set showcmd

" configure syntastic syntax checking to check on open as well as save
let g:syntastic_check_on_open=1
let g:syntastic_html_tidy_ignore_errors=[" proprietary attribute \"ng-"]

